# Backend
.env
# qdrant_local/ (Need this for Render deployment)
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/

# Frontend
frontend/node_modules/
frontend/dist/

# Data
data/*.parquet
data/*.arrow

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
